[role='alert'] {
  background: rgba(0, 0, 0, 0.125);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.25rem 0.75rem;
  text-align: center;
  + article {
    margin-top: 1rem;
  }
  a {
    text-decoration: underline;
  }
}