[role='alert'] {
  background: var(--fill-alert);
  border: 1px solid;
  border-color: var(--stroke-alert);
  padding: 0.25em 0.75em;
  text-align: center;
  + article {
    margin-top: 1.15em;
  }
  a {
    text-decoration: underline;
  }
}