[role='search'] {
  button {
    max-width: 56px;
    overflow: hidden;
    padding: {
      left: 0;
      right: 0;
    }
    width: 56px;
  }
  input {
    flex: 1;
    min-width: 0;
  }
  p {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
}