[role='doc-toc'] {
  [role='heading'] {
    padding-left: 1rem;
  }
  [role='doc-pagelist'] {
    li {
      &::after,
      &::before {
        border-color: #bfb186;
      }
      &:last-child {
        &::after {
          background: transparent url('content.jpg') repeat-y 50% 50%;
        }
      }
    }
  }
}